@font-face {
    font-family: 'NunitoRegular';
    src: url('ff/nunito/Nunito-Regular-webfont.eot');
    src: url('ff/nunito/Nunito-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/nunito/Nunito-Regular-webfont.woff') format('woff'),
         url('ff/nunito/Nunito-Regular-webfont.ttf') format('truetype'),
         url('ff/nunito/Nunito-Regular-webfont.svg#NunitoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NunitoLight';
    src: url('ff/nunito/Nunito-Light-webfont.eot');
    src: url('ff/nunito/Nunito-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/nunito/Nunito-Light-webfont.woff') format('woff'),
         url('ff/nunito/Nunito-Light-webfont.ttf') format('truetype'),
         url('ff/nunito/Nunito-Light-webfont.svg#NunitoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NunitoBold';
    src: url('ff/nunito/Nunito-Bold-webfont.eot');
    src: url('ff/nunito/Nunito-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/nunito/Nunito-Bold-webfont.woff') format('woff'),
         url('ff/nunito/Nunito-Bold-webfont.ttf') format('truetype'),
         url('ff/nunito/Nunito-Bold-webfont.svg#NunitoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceLight';
    src: url('ff/existence/Existence-Light-webfont.eot');
    src: url('ff/existence/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/existence/Existence-Light-webfont.woff') format('woff'),
         url('ff/existence/Existence-Light-webfont.ttf') format('truetype'),
         url('ff/existence/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceUnicaseLight';
    src: url('ff/existence/Existence-UnicaseLight-webfont.eot');
    src: url('ff/existence/Existence-UnicaseLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/existence/Existence-UnicaseLight-webfont.woff') format('woff'),
         url('ff/existence/Existence-UnicaseLight-webfont.ttf') format('truetype'),
         url('ff/existence/Existence-UnicaseLight-webfont.svg#ExistenceUnicaseLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExistenceStencilLight';
    src: url('ff/existence/Existence-StencilLight-webfont.eot');
    src: url('ff/existence/Existence-StencilLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('ff/existence/Existence-StencilLight-webfont.woff') format('woff'),
         url('ff/existence/Existence-StencilLight-webfont.ttf') format('truetype'),
         url('ff/existence/Existence-StencilLight-webfont.svg#ExistenceStencilLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logo {
   font: 18px/27px 'NunitoBold', Arial, sans-serif;}
	
}

.logo-small {
   font: 8px/17px 'NunitoBold', Arial, sans-serif;}
}

.sublogo {
   font: 18px/27px 'ExistenceLight', Arial, sans-serif;}

}
