<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="/static/sindeo.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/s.ico"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

        <title>Sindeo - 404 Page</title>


</head>
<body>
	 <div class="topbar">
                        <div class="fill">
                                <div class="container">
                                        <a class="brand" href="/">Sindeo</a>
                                        <ul class="nav">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="#about">About</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
	<div class="container">
		<div class="hero-unit">
			Oops!! Not the page you're looking for. We are still working on building this platform, so check back in!
		</div>
	</div>
</body>

</html>


