<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sindeo | Home Page</title>
	<link rel="stylesheet" type="text/css" href="/static/sindeo.css" />
	<link rel="stylesheet" type="text/css" href="/static/ff.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/static/s.ico"/>

</head>
<body>
		<div class="container">
			<div class="span8">
				<section>
					<h2>My workspaces</h2>
				</section>
				<table class="table bordered-table zebra-striped">
        			<thead>
					<tr>
						<th>type</th>
            					<th>title</th>
            					<th>author</th>
            					<th>content</th>
						<th>contributions</th>
            					<th>comment</th>
          				</tr>
			        </thead>
			        <tbody>
					<tr>
						<td>research</td>
						<td>dac&nbsp;research</td>
            					<td>Mark&nbsp; Otto</td>						
            					<td>23</td>
						<td>10</td>
						<td>100</td>
					</tr>
					 <tr>
                                                <td>collaboration</td>
                                                <td>dac&nbsp;execution</td>
                                                <td>sai</td>
                                                <td>10</td>
						<td>2</td>
                                                <td>10</td>
                                        </tr>
				</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
